# Logs
logs
*.log
.vscode/
.idea/
.DS_Store
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

/.env
/dist/
yarn.lock
.yarn/
.yarnrc.yml
