# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

/src/
/dist/test/
/examples/
/docs/

.eslintrc.yml                   
.travis.yml
appveyor.yml
CONTRIBUTING.md
gulpfile.js
*.js.map