name: CI - Linux

on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 2
      matrix:
        node_version: [12.x, 14.x, 16.x, 18.x, 20.x]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
          cache: 'npm'

      - run: npm i

      - name: Start Server -> Run Unit and Functional Tests
        timeout-minutes: 10
        env:
          CI: true
          MINIO_CI_CD: true
          MINT_MODE: full
          SERVER_ENDPOINT: localhost:9000
          MINIO_ROOT_USER: minio
          MINIO_ROOT_PASSWORD: minio123
          MINIO_KMS_SECRET_KEY: 'my-minio-key:OSMM+vkKUTCvQs9YL/CVMIMt43HFhkUpqJxTmGl6rYw='
          ACCESS_KEY: minio
          SECRET_KEY: minio123
          ENABLE_HTTPS: 0
        run: |
          wget --quiet -O /tmp/minio https://dl.min.io/server/minio/release/linux-amd64/minio
          chmod +x /tmp/minio
          /tmp/minio -C /tmp/minio-config server /tmp/data{1...4} &
          npm run test
